@charset "UTF-8";
@font-face {
  font-family: 'np-glyphs';
  src: url("../fonts/icomoon.eot?v=3.2.1");
  src: url("../fonts/icomoon.eot?#iefix&v=3.2.1") format("embedded-opentype"), url("../fonts/icomoon.woff?v=3.2.1") format("woff"), url("../fonts/icomoon.ttf?v=3.2.1") format("truetype"), url("../fonts/icomoon.svg#fontawesomeregular?v=3.2.1") format("svg");
  font-weight: normal;
  font-style: normal; }
body, html {
  background: #212121;
  color: #989898;
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 400;
  image-rendering: -webkit-optimize-contrast;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  overflow-y: scroll; }

.site-header {
  background: rgba(21, 21, 21, 0.7);
  margin-bottom: 70px;
  position: relative;
  z-index: 140; }

.page-wide {
  margin: 0 auto;
  max-width: 1200px; }

.page-narrow {
  margin: 0 auto;
  max-width: 960px; }

.page-main {
  position: relative;
  z-index: 14; }

.container-logo {
  float: left;
  max-width: 350px;
  padding: 3.5px 0 7px 30px;
  position: absolute; }

body.photos .container-logo,
body.articles .container-logo,
body.about .container-logo {
  padding: 32px 0 0; }

.container-contrast {
  background: #333333; }

.container-quote {
  padding-left: 21px;
  position: relative; }

.container-quote:before {
  color: #2d759b;
  content: "";
  font-family: "np-glyphs";
  font-size: 70px;
  left: 14px;
  position: absolute;
  top: -21px;
  z-index: 0; }

.container-quote h1, .container-quote h2, .container-quote h3 {
  position: relative;
  z-index: 1; }

.container-quote p {
  color: #FFFFFF;
  font-size: 14pt;
  line-height: 2em;
  position: relative;
  z-index: 1; }

.container-scroll {
  height: 100%;
  overflow-y: scroll;
  padding-right: 14px;
  -webkit-overflow-scrolling: touch; }

.container-scroll::-webkit-scrollbar {
  -webkit-appearance: none;
  background: #555555;
  width: 7px; }

.container-scroll::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #2d759b;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5); }

.container-columns {
  column-count: 2;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid; }

.container-columns-3 {
  column-count: 3;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid; }

.container-columns p {
  margin: 0; }

.container-pull-right {
  float: right !important; }

.container-pull-right .container-image {
  margin: 0 auto; }

.container-image img {
  display: block;
  margin: 0 auto;
  max-width: 100%; }

h1, h2, h3 {
  color: #FFFFFF;
  font-family: "Raleway", sans-serif;
  font-weight: 400; }

h1 {
  font-size: 28px; }

h1 strong {
  font-size: 63px; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 21px; }

h2 + p {
  margin-top: -14px; }

h4 {
  margin: 0; }

span, p {
  line-height: 1.5; }

a {
  color: #358faa;
  transition: all .3s ease-in-out; }

a:hover {
  color: #ffa500; }

strong {
  font-size: 1.05em;
  font-weight: 700; }

hr {
  background: #555555;
  border: 0;
  height: 1px;
  margin: 28px auto 21px;
  position: relative;
  width: 60%; }

.reverse {
  color: #FFFFFF !important; }

.center {
  text-align: center; }

.title, .title + p {
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

section .title + p {
  color: #FFFFFF;
  font-size: 21px;
  margin-bottom: 21px; }

.title + p {
  margin-bottom: 49px; }

section .title:before {
  background: #358faa;
  content: " ";
  display: block;
  height: 5px;
  margin: 7px auto;
  width: 140px; }

section .title:after {
  background: #358faa;
  content: " ";
  display: block;
  height: 5px;
  margin: 14px auto 0;
  width: 140px; }

section .title.left {
  text-align: left; }

section .title.left:before, section .title.left:after {
  margin: 14px 0 7px; }

.footer {
  padding: 49px 0 35px;
  text-align: center; }

.footer a, .footer span {
  padding: 0 14px;
  text-decoration: none; }

.footer a {
  color: #989898; }

.footer a:hover {
  color: #ffa500; }

.footer a:before {
  font-family: "np-glyphs";
  font-size: 21px;
  font-weight: 100;
  padding: 0; }

.footer a.fb:before {
  content: ""; }

.footer a.twitter:before {
  content: ""; }

.footer a.insta:before {
  content: ""; }

.container-copyright {
  color: #989898; }

@media (max-width: 991px) {
  .container-logo {
    max-width: 280px;
    padding: 5px 0 0 30px; } }
@media (max-width: 767px) {
  .site-header {
    background: none;
    margin-bottom: 0; }

  .container-logo {
    image-rendering: auto;
    padding: 9px 15px 21px !important;
    position: relative;
    max-width: 301px; }

  .container-pull-right {
    float: left !important;
    margin-top: 0; }

  section .title + p {
    font-size: inherit; }

  .footer a:before {
    font-size: 35px; }

  .footer a span {
    display: none; } }
@media (max-width: 479px) {
  section .title + p {
    color: #989898;
    padding: 0 14px; }

  .photos section .title + p {
    color: #FFFFFF; } }
@media (max-width: 370px) {
  .container-logo {
    padding: 9px 15px 21px !important;
    max-width: 245px; } }
.toggle-navigation {
  color: #FFFFFF;
  display: none;
  font-size: 14px;
  height: 49px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 49px;
  z-index: 77; }

.toggle-navigation:before {
  content: "";
  display: block;
  font-family: "np-glyphs";
  font-weight: 100;
  font-size: 28px; }

.container-menu {
  float: right;
  padding: 10px 15px 7px 0;
  text-align: right; }

.container-menu ul {
  margin: 0;
  padding: 0; }

.container-menu li {
  display: inline-block; }

.container-menu .primary a {
  color: #FFFFFF;
  display: inline-block;
  font-size: 28px;
  padding: 1px 14px;
  text-decoration: none; }

.container-menu .primary a:hover {
  color: #ffa500; }

.container-mobile-menu {
  background: #555555;
  bottom: 0;
  right: 0;
  margin: 0;
  overflow: hidden;
  position: fixed;
  left: 100%;
  top: 0;
  transition: all .3s;
  z-index: 70; }

.container-mobile-menu img {
  width: 70px; }

.container-mobile-menu ul, .container-mobile-menu li {
  list-style: none;
  margin: 0;
  padding: 0; }

.container-mobile-menu .call-to-action.secondary {
  background: none;
  border: solid 2px;
  color: #FFFFFF;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%; }

.container-mobile-menu .container-galleries ul {
  display: block;
  margin: 0 auto;
  padding: 0;
  position: static;
  table-layout: auto; }

.container-mobile-menu .container-galleries li {
  display: inline-block;
  float: left;
  position: relative;
  width: 33%;
  width: calc( 100% / 3); }

.container-mobile-menu .container-galleries a {
  padding: 0 0 14px; }

.container-mobile-menu .container-galleries a:after {
  padding-left: 0; }

body.home .primary .home,
body.photos .primary .photos,
body.blog .primary .blog,
body.shop .primary .shop,
body.about .primary .about {
  border-radius: 14px;
  box-shadow: inset 0 0 0 3px #2d759b;
  /*pointer-events: none;*/ }

@media (max-width: 960px) {
  .container-menu {
    font-size: 14px; }

  .container-menu .primary a {
    font-size: 21px; } }
@media (max-width: 767px) {
  .toggle-navigation {
    display: block;
    position: absolute;
    top: 7px;
    right: 7px;
    transition: all .3s ease-in-out; }

  .toggle-navigation.active:before {
    content: ""; }

  .toggle-navigation.active + .container-mobile-menu {
    left: 35px;
    padding: 21px 35px; }

  .container-menu {
    display: none; } }
body.default {
  background-image: url("/content/images/cover.jpg");
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: 100% auto; }

.decoration {
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: -7px;
  filter: blur(7px);
  -webkit-filter: blur(7px);
  -moz-filter: blur(7px);
  -o-filter: blur(7px);
  -ms-filter: blur(7px);
  left: -7px;
  position: fixed;
  right: -7px;
  top: -7px;
  z-index: 0; }

.decoration:after {
  background: #212121;
  background: rgba(0, 0, 0, 0.63);
  bottom: 0;
  content: ' ';
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }

.default .decoration:after {
  display: none; }

.homepage .headline {
  margin: 49px auto 70px;
  padding: 21px 0 0;
  text-align: center;
  width: 100%; }

.homepage .headline:before, .homepage .headline:after {
  background: #ffa500;
  content: ' ';
  height: 2px;
  position: absolute;
  top: 163px;
  width: 14vw; }

.homepage .headline:before {
  left: 30px; }

.homepage .headline:after {
  right: 30px; }

.headline h1 {
  font-size: 35px;
  font-weight: 100;
  margin: 7px 0;
  white-space: nowrap; }

.headline h2 {
  display: inline;
  margin: 7px 0; }

.container-galleries {
  width: 100%; }

.container-galleries ul {
  display: table;
  list-style: none;
  margin: 35px auto 0;
  padding: 0;
  table-layout: fixed;
  width: 49%; }

.container-galleries li {
  display: table-cell;
  position: relative;
  text-align: center; }

.container-galleries a {
  border-radius: 7px;
  color: #FFFFFF;
  display: block;
  font-size: 0;
  padding: 7px 0;
  text-align: center;
  text-decoration: none; }

.container-galleries a:hover {
  background: #ffa500; }

.container-galleries a:before {
  border-radius: 50%;
  color: #FFFFFF;
  display: block;
  font-family: "np-glyphs";
  font-size: 63px;
  height: 77px;
  font-weight: 100;
  margin: 0 auto 7px;
  padding: 7px 0 0;
  width: 77px;
  text-align: center; }

.homepage .container-galleries a:before {
  /*background: $grey;
  color: $orange;*/ }

.container-galleries .mountains:before {
  content: ""; }

.container-galleries .foothills:before {
  content: ""; }

.container-galleries .prairies:before {
  content: ""; }

.container-galleries .badlands:before {
  content: ""; }

.container-galleries .travel:before {
  content: ""; }

.call-to-action.secondary {
  background: #358faa;
  color: #FFFFFF;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin: 21px auto;
  padding: 10px 21px;
  text-decoration: none; }

.call-to-action.secondary:after {
  content: "";
  display: none;
  font-family: "np-glyphs";
  font-weight: 100;
  margin-left: 14px;
  vertical-align: bottom; }

.call-to-action.secondary:hover {
  background: #ffa500 !important;
  border-color: #ffa500;
  color: #FFFFFF !important; }

@media (max-width: 991px) {
  .homepage .headline {
    margin: 0 auto; }

  .homepage .headline:before, .homepage .headline:after {
    display: none; }

  .container-galleries {
    margin-top: 21px; }

  .container-galleries ul {
    width: 91%; } }
@media (max-width: 767px) {
  .homepage .headline {
    margin: 21px auto 0; }

  .headline h1 {
    font-size: 28px;
    white-space: normal; }

  .headline h2 {
    font-size: 21px; } }
@media (max-width: 479px) {
  body.default {
    background-image: url("/content/images/cover-sm.jpg"); }

  body.default.home {
    background-size: 140% auto; }

  .hero.homepage {
    margin: 21px auto; }

  .homepage .headline {
    padding: 0 0 35px;
    width: 91%; }

  .homepage .headline h1,
  .homepage .headline h2,
  .homepage .headline strong {
    display: inline;
    font-size: 35px; }

  .homepage .container-galleries ul {
    margin: 7px auto; }

  .homepage .container-galleries a:before {
    font-size: 42px;
    height: 49px;
    width: 49px; } }
.container-breadcrumb {
  clear: both;
  margin: 0 auto 14px;
  overflow: auto; }

.breadcrumb {
  overflow: auto; }

.breadcrumb ul {
  clear: both;
  display: block;
  float: left;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.breadcrumb li {
  float: left;
  list-style: none; }

.breadcrumb a {
  display: block;
  font-weight: 700;
  float: left;
  padding: 14px 0 14px 28px;
  position: relative; }

.breadcrumb li:first-child a {
  padding: 14px 0; }

.breadcrumb a:after {
  color: #555555;
  content: "";
  font-family: "np-glyphs";
  font-size: 21px;
  font-weight: 100;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.breadcrumb li.active {
  background: none;
  color: #FFFFFF;
  font-weight: 700;
  padding: 13px 28px 0; }

.container-tertiary + div .container-breadcrumb {
  margin-top: 0; }

@media (max-width: 767px) {
  .container-breadcrumb {
    border-radius: 0;
    display: block;
    margin-left: 15px; }

  .breadcrumb li.active {
    display: none; } }
.pagination ul {
  padding: 0;
  list-style-type: none; }

.pagination ul li {
  display: inline-block;
  font-size: 21px;
  font-weight: 700;
  margin: 0 5px; }

.pagination ul li:first-of-type {
  margin: 0; }

.pagination ul li.active {
  border-radius: 3px;
  padding: 7px;
  background-color: #ffa500;
  color: #FFFFFF; }

.pagination a {
  text-decoration: none; }

@media (max-width: 767px) {
  .container-breadcrumb {
    border-radius: 0;
    display: block; }

  .breadcrumb li.active {
    display: none; }

  .breadcrumb > li:first-child {
    display: none; } }
.photograph .site-header {
  background: none;
  margin-bottom: 7px; }

.photograph .page-main {
  /*background: $black-alpha;*/ }

.location:after {
  content: "|"; }

.tiles {
  padding: 14px 14px 35px; }

.tile {
  line-height: 1.5;
  margin-bottom: 14px;
  margin-top: 14px; }

.tile h3, .tile h4 {
  margin: 10px 0; }

.photos .tile {
  margin-bottom: 7px;
  padding-left: 7px !important;
  padding-right: 7px !important;
  margin-top: 7px; }

.home .tile {
  text-align: center; }

.home .tile > div {
  margin: 0 auto;
  max-width: 900px; }

.tile.gallery {
  margin-bottom: 49px; }

.tile.gallery .description {
  line-height: 1.5;
  padding: 14px 49px; }

.container-image.photo img {
  max-height: 1000px; }

.link-prev, .link-next {
  display: block;
  font-size: 0;
  left: 0;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: 50%;
  top: calc(50% - 42px);
  width: 63px;
  z-index: 22; }

.link-next {
  left: auto;
  right: 0; }

.link-prev:before, .link-next:after {
  background: #212121;
  background: rgba(21, 21, 21, 0.7);
  border-radius: 7px;
  color: #FFFFFF;
  content: "";
  display: block;
  font-family: "np-glyphs";
  left: 14px;
  padding: 7px 0;
  position: absolute;
  font-size: 70px;
  font-weight: 100;
  text-align: center;
  text-decoration: none;
  top: 0;
  width: 56px;
  z-index: 21; }

.link-next:after {
  content: "";
  left: auto;
  right: 14px; }

.link-next:hover:after, .link-prev:hover:before {
  color: #ffa500; }

.container-image.photo {
  background: #333333;
  background: rgba(77, 77, 77, 0.49); }

@media (max-width: 767px) {
  .photograph .site-header {
    margin-bottom: 0; }

  .tiles {
    padding: 7px; }

  .tile {
    padding-left: 7px !important;
    padding-right: 7px !important;
    margin-bottom: 7px;
    margin-top: 7px; }

  .tile.gallery .description {
    padding: 21px 21px 35px;
    text-align: center; }

  .homepage .tile {
    float: none;
    margin: 0 auto 21px;
    max-width: 84%; }

  .container-image.photo img {
    max-height: 420px; }

  .link-prev, .link-next {
    top: 50%;
    top: calc(50% - 24px); }

  .link-prev:before, .link-next:after {
    border-radius: 0 7px 7px 0;
    left: 0px;
    font-size: 35px;
    width: 35px; }

  .link-next:after {
    border-radius: 7px 0 0 7px;
    left: auto;
    right: 0px; }

  .location {
    display: none; } }
.article + .article {
  margin-top: 49px; }

.article h3 {
  color: #989898; }

.article .container-image {
  margin-bottom: 14px;
  margin-top: 14px; }

.article .link-permalink {
  float: right;
  margin-bottom: -70px;
  margin-right: 21px;
  position: relative;
  z-index: 1; }

@media (max-width: 767px) {
  .article .link-permalink {
    display: none; } }
.container-tertiary {
  border-radius: 14px;
  clear: both;
  display: none;
  margin: 7px auto 0; }

body.photos .container-tertiary.photos,
body.articles .container-tertiary.articles,
body.article .container-tertiary.articles,
body.about .container-tertiary.about {
  display: block; }

.container-tertiary h3 {
  color: #FFFFFF;
  display: none;
  float: left;
  font-weight: 700;
  margin: 9px 14px; }

.container-tertiary ul {
  list-style: none inside;
  float: right;
  margin: 0;
  padding: 0; }

.container-tertiary li {
  float: left;
  padding: 0; }

.container-tertiary a {
  border-radius: 14px;
  color: #FFFFFF;
  display: block;
  font-weight: 700;
  margin: 6px;
  padding: 9px 8px;
  text-decoration: none; }

.container-tertiary a:hover {
  color: #ffa500; }

body.overview .container-tertiary .overview a,
body.mountains .container-tertiary .mountains a,
body.foothills .container-tertiary .foothills a,
body.prairies .container-tertiary .prairies a,
body.badlands .container-tertiary .badlands a,
body.northwest .container-tertiary .northwest a,
body.techniques .container-tertiary .techniques a,
body.news .container-tertiary .news a,
body.inspiration .container-tertiary .inspiration a,
body.links .container-tertiary .links a {
  background: #2d759b;
  box-shadow: inset 0 0 0 3px #2d759b;
  color: #FFFFFF;
  font-weight: 700;
  /*pointer-events: none;*/
  text-decoration: none; }

@media (max-width: 960px) {
  .container-tertiary {
    border-radius: 0; }

  .container-tertiary ul {
    border-radius: 0; }

  .container-tertiary li {
    font-size: .77em; } }
@media (max-width: 767px) {
  .container-tertiary {
    display: none; }

  .container-tertiary h3 {
    /*float: none;
    margin: 14px 14px 0;*/ }

  .container-tertiary ul {
    float: left; }

  .container-tertiary a {
    border-radius: 7px;
    padding: 7px 14px;
    margin: 7px 0; } }
/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*!
 * Generated using the Bootstrap Customizer (http://getbootstrap.com/customize/?id=e6a2e471288afad812b92b56d855afd2)
 * Config saved to config.json and https://gist.github.com/e6a2e471288afad812b92b56d855afd2
 */
/*!
 * Bootstrap v3.3.6 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 970px; } }
@media (min-width: 1200px) {
  .container {
    width: 1170px; } }
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.no-gutter-xs {
  padding-left: 0;
  padding-right: 0; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-pull-11 {
  right: 91.66666667%; }

.col-xs-pull-10 {
  right: 83.33333333%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-8 {
  right: 66.66666667%; }

.col-xs-pull-7 {
  right: 58.33333333%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-5 {
  right: 41.66666667%; }

.col-xs-pull-4 {
  right: 33.33333333%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-2 {
  right: 16.66666667%; }

.col-xs-pull-1 {
  right: 8.33333333%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-push-11 {
  left: 91.66666667%; }

.col-xs-push-10 {
  left: 83.33333333%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-8 {
  left: 66.66666667%; }

.col-xs-push-7 {
  left: 58.33333333%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-5 {
  left: 41.66666667%; }

.col-xs-push-4 {
  left: 33.33333333%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-2 {
  left: 16.66666667%; }

.col-xs-push-1 {
  left: 8.33333333%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-0 {
  margin-left: 0%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-11 {
    width: 91.66666667%; }

  .col-sm-10 {
    width: 83.33333333%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-8 {
    width: 66.66666667%; }

  .col-sm-7 {
    width: 58.33333333%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-5 {
    width: 41.66666667%; }

  .col-sm-4 {
    width: 33.33333333%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-2 {
    width: 16.66666667%; }

  .col-sm-1 {
    width: 8.33333333%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-pull-11 {
    right: 91.66666667%; }

  .col-sm-pull-10 {
    right: 83.33333333%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-8 {
    right: 66.66666667%; }

  .col-sm-pull-7 {
    right: 58.33333333%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-5 {
    right: 41.66666667%; }

  .col-sm-pull-4 {
    right: 33.33333333%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-2 {
    right: 16.66666667%; }

  .col-sm-pull-1 {
    right: 8.33333333%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-push-11 {
    left: 91.66666667%; }

  .col-sm-push-10 {
    left: 83.33333333%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-8 {
    left: 66.66666667%; }

  .col-sm-push-7 {
    left: 58.33333333%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-5 {
    left: 41.66666667%; }

  .col-sm-push-4 {
    left: 33.33333333%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-2 {
    left: 16.66666667%; }

  .col-sm-push-1 {
    left: 8.33333333%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-offset-12 {
    margin-left: 100%; }

  .col-sm-offset-11 {
    margin-left: 91.66666667%; }

  .col-sm-offset-10 {
    margin-left: 83.33333333%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-8 {
    margin-left: 66.66666667%; }

  .col-sm-offset-7 {
    margin-left: 58.33333333%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-5 {
    margin-left: 41.66666667%; }

  .col-sm-offset-4 {
    margin-left: 33.33333333%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-2 {
    margin-left: 16.66666667%; }

  .col-sm-offset-1 {
    margin-left: 8.33333333%; }

  .col-sm-offset-0 {
    margin-left: 0%; } }
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-12 {
    width: 100%; }

  .col-md-11 {
    width: 91.66666667%; }

  .col-md-10 {
    width: 83.33333333%; }

  .col-md-9 {
    width: 75%; }

  .col-md-8 {
    width: 66.66666667%; }

  .col-md-7 {
    width: 58.33333333%; }

  .col-md-6 {
    width: 50%; }

  .col-md-5 {
    width: 41.66666667%; }

  .col-md-4 {
    width: 33.33333333%; }

  .col-md-3 {
    width: 25%; }

  .col-md-2 {
    width: 16.66666667%; }

  .col-md-1 {
    width: 8.33333333%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-pull-11 {
    right: 91.66666667%; }

  .col-md-pull-10 {
    right: 83.33333333%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-8 {
    right: 66.66666667%; }

  .col-md-pull-7 {
    right: 58.33333333%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-5 {
    right: 41.66666667%; }

  .col-md-pull-4 {
    right: 33.33333333%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-2 {
    right: 16.66666667%; }

  .col-md-pull-1 {
    right: 8.33333333%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-push-11 {
    left: 91.66666667%; }

  .col-md-push-10 {
    left: 83.33333333%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-8 {
    left: 66.66666667%; }

  .col-md-push-7 {
    left: 58.33333333%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-5 {
    left: 41.66666667%; }

  .col-md-push-4 {
    left: 33.33333333%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-2 {
    left: 16.66666667%; }

  .col-md-push-1 {
    left: 8.33333333%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-offset-12 {
    margin-left: 100%; }

  .col-md-offset-11 {
    margin-left: 91.66666667%; }

  .col-md-offset-10 {
    margin-left: 83.33333333%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-8 {
    margin-left: 66.66666667%; }

  .col-md-offset-7 {
    margin-left: 58.33333333%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-5 {
    margin-left: 41.66666667%; }

  .col-md-offset-4 {
    margin-left: 33.33333333%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-2 {
    margin-left: 16.66666667%; }

  .col-md-offset-1 {
    margin-left: 8.33333333%; }

  .col-md-offset-0 {
    margin-left: 0%; } }
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-11 {
    width: 91.66666667%; }

  .col-lg-10 {
    width: 83.33333333%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-8 {
    width: 66.66666667%; }

  .col-lg-7 {
    width: 58.33333333%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-5 {
    width: 41.66666667%; }

  .col-lg-4 {
    width: 33.33333333%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-2 {
    width: 16.66666667%; }

  .col-lg-1 {
    width: 8.33333333%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-pull-11 {
    right: 91.66666667%; }

  .col-lg-pull-10 {
    right: 83.33333333%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-8 {
    right: 66.66666667%; }

  .col-lg-pull-7 {
    right: 58.33333333%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-5 {
    right: 41.66666667%; }

  .col-lg-pull-4 {
    right: 33.33333333%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-2 {
    right: 16.66666667%; }

  .col-lg-pull-1 {
    right: 8.33333333%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-push-11 {
    left: 91.66666667%; }

  .col-lg-push-10 {
    left: 83.33333333%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-8 {
    left: 66.66666667%; }

  .col-lg-push-7 {
    left: 58.33333333%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-5 {
    left: 41.66666667%; }

  .col-lg-push-4 {
    left: 33.33333333%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-2 {
    left: 16.66666667%; }

  .col-lg-push-1 {
    left: 8.33333333%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-offset-12 {
    margin-left: 100%; }

  .col-lg-offset-11 {
    margin-left: 91.66666667%; }

  .col-lg-offset-10 {
    margin-left: 83.33333333%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-8 {
    margin-left: 66.66666667%; }

  .col-lg-offset-7 {
    margin-left: 58.33333333%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-5 {
    margin-left: 41.66666667%; }

  .col-lg-offset-4 {
    margin-left: 33.33333333%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-2 {
    margin-left: 16.66666667%; }

  .col-lg-offset-1 {
    margin-left: 8.33333333%; }

  .col-lg-offset-0 {
    margin-left: 0%; } }
.clearfix {
  clear: both; }

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table; }

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }
