---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$title-font: 'Lora', serif;

$title-font: 'Raleway', sans-serif;

$base-font: 'Raleway', sans-serif;

$alt-font: 'Helvetica Neue', Helvetica,Arial, sans-serif;

$glyph-font: 'np-glyphs';

$border-radius: 14px;


$black:            #212121;

$blue:             #2d759b;

$blue-2:           #358faa;

$blue-3:           #33aebe;

$blue-4:           #43cede;

$dark-grey:        #333333;

$link-blue:        #009BFF;

$link-blue:        #358faa;

$grey:             #555555;

$pure-black:       #141414;

$orange:           #eb8f00;

$text-grey:        #989898;

$white:            #f1f1f1;

$border:           #CCCCCC;



$angle-left:          '\f104';

$angle-right:         '\f105';

$arrow-right:         '\e90b';

$camera:              '\e901';

$chev-circle-right:   '\f138';

$comment:             '\f0e5';

$facebook:            '\f082';

$home:                '\e904';

$menu:                '\e900';

$news:                '\f1ea';

$photo:               '\e902';

$tip:                 '\e905';

$twitter:             '\f081';

$instagram:           '\f16d';

$quoteleft:           '\e977';

$quoteright:          '\e978';

$shoppingcart:        '\e903';

$mountains:           '\e90a';

$foothills:           '\e907';

$prairies:            '\e909';

$badlands:            '\e906';

$travel:              '\e908';



@font-face {
  font-family: 'np-glyphs';
  src: url('../fonts/icomoon.eot?v=3.2.1');
  src: url('../fonts/icomoon.eot?#iefix&v=3.2.1') format('embedded-opentype'), url('../fonts/icomoon.woff?v=3.2.1') format('woff'), url('../fonts/icomoon.ttf?v=3.2.1') format('truetype'), url('../fonts/icomoon.svg#fontawesomeregular?v=3.2.1') format('svg');
  font-weight: normal;
  font-style: normal;
}

body, html {
  background: $black;
  color: $text-grey;
  font-family: $base-font;
  font-size: 16px;
  font-weight: 400;
  image-rendering: -webkit-optimize-contrast;
  margin: 0;
  padding: 0;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.page-wide {
  margin: 0 auto;
  max-width: 1050px;
}

.page-narrow {
  margin: 0 auto;
  max-width: 960px;
}

.page-main {
  background: $black;
  border-radius: 14px 14px 0 0;
  /*box-shadow: 0 0 7px $pure-black;
  box-shadow: 0 0 1px $border;*/
  position: relative;
  z-index:14;
}

body.photos .page-main {
  box-shadow: none;
}

.container-logo {
  float: left;
  max-width: 310px;
  padding: 35px 0 35px;
}

.container-logo img {
  filter: drop-shadow(0 0 14px $black);
}

.container-contrast {
  background: $dark-grey;
}

.container-quote {
  padding-left: 21px;
  position: relative;
}

.container-quote:before {
  color: $dark-grey;
  content: $quoteleft;
  font-family: $glyph-font;
  font-size: 70px;
  left: 14px;
  position: absolute;
  top: -21px;
  z-index: 0;
}

.container-quote h1, .container-quote h2, .container-quote h3 {
  position: relative;
  z-index: 1;
}

.container-quote p {
  color: $white;
  font-size: 14pt;
  line-height: 2em;
  position:relative;
  z-index: 1;
}

.container-scroll {
  height: 100%;
  overflow-y: scroll;
  padding-right: 14px;
  -webkit-overflow-scrolling: touch;
}

.container-scroll::-webkit-scrollbar {
  -webkit-appearance: none;
  background: $grey;
  width: 7px;
}

.container-scroll::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: $blue;
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.container-columns {
  column-count: 2;

  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

.container-columns-3 {
  column-count: 3;

  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

.container-columns p {
  margin: 0;
}

.container-pull-right {
  float: right!important;
}

.container-pull-right .container-image {
  margin: 0 auto;
}

.container-image img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

h1, h2, h3  {
  color: $white;
  font-family: $title-font;
  font-weight: 400;
}

h1 {
  font-size: 28px;
}

h1 strong {
  font-size: 49px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 21px;
}

h2 + p {
  margin-top: -14px;
}

h4 {
  margin: 0;
}

span, p {
  line-height: 1.5;
}

a {
  color: $link-blue;
  transition: all .3s ease-in-out;
}

a:hover {
  color: $orange;
  text-decoration: none;
}

strong {
  font-size: 1.05em;
  font-weight: 700;
}

hr {
  background: $grey;
  border: 0;
  height: 1px;
  margin: 28px auto 21px;
  position: relative;
  width: 60%;
}

.reverse {
  color: $white!important;
}

.center {
  text-align: center;
}

.footer {
  background: $black;
  padding: 49px 0 35px;
  text-align: center;
}

.footer a, .footer span {
  color: $text-grey;
  padding: 0 14px;
  text-decoration: none;
}

.footer a:before {
  font-family: $glyph-font;
  font-size: 21px;
  font-weight: 100;
  padding: 0;
}

.footer a.fb:before {
  content: $facebook;
}

.footer a.twitter:before {
  content: $twitter;
}

.footer a.insta:before {
  content: $instagram;
}

.container-copyright {
  color: $text-grey;
}

@media(max-width: 767px) {

  .container-logo {
    image-rendering: auto;
    padding: 17px 0 21px;
    max-width: 210px;
  }

  .container-logo img {
    filter: none;
  }

  h1 {
    font-size: 21px;
  }

  .container-columns {
    column-count: 1;
  }

  .container-columns-3 {
    column-count: 1;
  }

  .container-pull-right {
    float: left!important;
    margin-top: 0;
  }

  .footer a:before {
    font-size: 35px;
  }

  .footer a span {
    display: none;
  }
}

@import "navigation";
@import "home";
@import "breadcrumb";
@import "photo";
@import "article";
@import "tertiary";
@import "grid";

