---
layout: default
permalink: /blog/
section: "blog overview"
title: "Photo Galleries"
---

{% include tertiary-articles.html %}

<div class="col-xs-12 no-gutter-xs clearfix">

    {% for post in site.posts %}
        {% if post.layout == 'article' %}
            <section class="article page-article clearfix">
                <a href="{{ post.permalink }}" class="link-permalink call-to-action secondary">Permalink</a>
                {{ post.content }}
            </section>
            <hr />
        {% endif %}
    {% endfor %}

</div>










