---
layout: default
permalink: /photos/
section: "photos overview"
title: "Photo Galleries"
---

<section class="clearfix">

    {% include tertiary-landscapes.html %}

    <div class="col-xs-12">
        <h1>Browse photos by gallery</h1>
        <p>It's just like being at the Louvre but without the long lineups.</p>
    </div>

    {% for post in site.posts reversed %}
    {% if post.layout == 'gallery' %}
    <div class="gallery tile">
        <div class="col-xs-12 col-sm-6">
            <a href="{{ post.permalink | prepend: site.baseurl }}">
                <div class="container-image">
                    <img src="{{ '/content/images/' | prepend: site.baseurl | append: post.thumbnail | append: '-500x500.jpg' }}" alt="">
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 description">
            <h3>{{ post.title }}</h3>
            <div>{{ post.summary }}</div>
            <a href="{{ post.permalink | prepend: site.baseurl }}" title="View gallery" class="call-to-action secondary">View gallery</a>
        </div>
        <div class="clearfix"></div>
    </div>
    {% endif %}
    {% endfor %}

</section>










