---
layout: default
permalink: /photos/
section: "photos overview"
title: "Photo Galleries"
---

<section class="page-wide clearfix">
    <div class="col-xs-12">
        <div class="headline">
            <h1 class="title">Photos</h1>
            <p>All that we are is the result of what we have thought and experienced.  I'm grateful for being able to spend time outdoors in nature.</p>
        </div>
    </div>
</section>

<section class="container-light">
        {% for post in site.posts reversed %}
        {% if post.layout == 'gallery' %}


        {% if post.tag == 'mountains' %}
        <div class="page-wide">
            <div class="gallery tile container-pull-top {{ post.tag }} clearfix">
                <div class="col-xs-12 col-sm-5">
                    <a href="{{ post.permalink | prepend: site.baseurl }}">
                        <div class="container-image">
                            <img src="{{ '/content/images/' | prepend: site.baseurl | append: post.thumbnail | append: '-500x500.jpg' }}" alt="">
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-7 description">
                    <h2 class="sub-title">{{ post.title }}</h2>
                    <div>{{ post.summary }}</div>
                    <a href="{{ post.permalink | prepend: site.baseurl }}" title="View gallery" class="call-to-action secondary">View gallery</a>
                </div>
            </div>
        </div>
        {% endif %}


        {% if post.tag == 'foothills' %}
        <div class="page-wide">
            <div class="gallery tile container-stretch {{ post.tag }} clearfix">
                <a href="{{ post.permalink | prepend: site.baseurl }}">
                    <div class="container-image">
                        <img src="{{ '/content/images/' | prepend: site.baseurl | append: post.thumbnail | append: '-500x500.jpg' }}" alt="">
                    </div>
                </a>
                <div class="col-xs-12 description">
                    <h2 class="sub-title">{{ post.title }}</h2>
                    <div>{{ post.summary }}</div>
                    <a href="{{ post.permalink | prepend: site.baseurl }}" title="View gallery" class="call-to-action secondary">View gallery</a>
                </div>
            </div>
        </div>
        {% endif %}


        {% if post.tag == 'badlands' %}
        <div class="page-wide">
            <div class="gallery tile container-pull-bottom {{ post.tag }} clearfix">
                <div class="col-xs-12 col-sm-5 pull-right">
                    <a href="{{ post.permalink | prepend: site.baseurl }}">
                        <div class="container-image">
                            <img src="{{ '/content/images/' | prepend: site.baseurl | append: post.thumbnail | append: '-500x500.jpg' }}" alt="">
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-7 description">
                    <h2 class="sub-title">{{ post.title }}</h2>
                    <div>{{ post.summary }}</div>
                    <a href="{{ post.permalink | prepend: site.baseurl }}" title="View gallery" class="call-to-action secondary">View gallery</a>
                </div>
            </div>
        </div>
        {% endif %}


    {% if post.tag == 'prairies' %}
    <div class="container-grey">
        <div class="page-wide">
            <div class="gallery tile container-stretch stretch-right {{ post.tag }} clearfix">
                <a href="{{ post.permalink | prepend: site.baseurl }}">
                    <div class="container-image">
                        <img src="{{ '/content/images/' | prepend: site.baseurl | append: post.thumbnail | append: '-500x500.jpg' }}" alt="">
                    </div>
                </a>
                <div class="col-xs-12 description">
                    <h2 class="sub-title">{{ post.title }}</h2>
                    <div>{{ post.summary }}</div>
                    <a href="{{ post.permalink | prepend: site.baseurl }}" title="View gallery" class="call-to-action secondary">View gallery</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}


    {% if post.tag == 'northwest' %}
    <div class="page-wide">
        <div class="gallery tile container-pull-top {{ post.tag }} clearfix">
            <div class="col-xs-12 col-sm-5">
                <a href="{{ post.permalink | prepend: site.baseurl }}">
                    <div class="container-image">
                        <img src="{{ '/content/images/' | prepend: site.baseurl | append: post.thumbnail | append: '-500x500.jpg' }}" alt="">
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-7 description">
                <h2 class="sub-title">{{ post.title }}</h2>
                <div>{{ post.summary }}</div>
                <a href="{{ post.permalink | prepend: site.baseurl }}" title="View gallery" class="call-to-action secondary">View gallery</a>
            </div>
        </div>
    </div>
    {% endif %}

        {% endif %}
        {% endfor %}
    </div>



</section>













