---
layout: default
permalink: /photos/
section: "photos overview"
title: "Photo Galleries"
---

<div style="position: relative">

<section class="page-wide clearfix">
    <div class="col-xs-12">
        <div class="headline">
            <h1 class="title">Photos</h1>
            <p>We are the result of our experiences and thoughts. For me that's a lot of nature and stuff.</p>
        </div>
    </div>
    <div class="polygon">
        <!--
          preserveAspectRatio: makes sure the triangle is scalable
          viewbox: points stretches from the parent
        -->
        <svg preserveAspectRatio="none" viewBox="0 0 100 100">
            <polygon points="0,100 0,84 70,100" opacity="1"></polygon>
        </svg>
    </div>
    <div class="polygon">
        <!--
          preserveAspectRatio: makes sure the triangle is scalable
          viewbox: points stretches from the parent
        -->
        <svg preserveAspectRatio="none" viewBox="0 0 100 100">
            <polygon points="100,100 100,84 70,100" opacity="1"></polygon>
        </svg>
    </div>
</section>
</div>


<section class="container-light" style="position: relative;">


        {% for post in site.posts reversed %}
        {% if post.layout == 'gallery' %}


        {% if post.tag == 'mountains' %}
        <div class="page-wide">
            <div class="gallery tile container-pull-top {{ post.tag }} clearfix">
                <div class="col-xs-12 col-sm-5">
                    <a href="{{ post.permalink | prepend: site.baseurl }}">
                        <div class="container-image">
                            <img src="{{ '/content/images/' | prepend: site.baseurl | append: post.thumbnail | append: '-500x500.jpg' }}" alt="">
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-7 description">
                    <h2 class="sub-title">{{ post.title }}</h2>
                    <div>{{ post.summary }}</div>
                    <a href="{{ post.permalink | prepend: site.baseurl }}" title="View gallery" class="call-to-action secondary">View gallery</a>
                </div>
            </div>
        </div>
        {% endif %}


        {% if post.tag == 'foothills' %}
    <div style="position: relative">
    <div class="polygon">
        <!--
          preserveAspectRatio: makes sure the triangle is scalable
          viewbox: points stretches from the parent
        -->
        <svg preserveAspectRatio="none" viewBox="0 0 100 100">
            <polygon points="100,70 100,35 0,70 0,63" opacity="1" style="fill: #dddddf; z-index: 14;"></polygon>
        </svg>
    </div>
        <div class="page-wide">
            <div class="gallery tile container-stretch {{ post.tag }} clearfix">
                <a href="{{ post.permalink | prepend: site.baseurl }}">
                    <div class="container-image">
                        <img src="{{ '/content/images/' | prepend: site.baseurl | append: post.thumbnail | append: '-500x500.jpg' }}" alt="">
                    </div>
                </a>
                <div class="col-xs-12 description">
                    <h2 class="sub-title">{{ post.title }}</h2>
                    <div>{{ post.summary }}</div>
                    <a href="{{ post.permalink | prepend: site.baseurl }}" title="View gallery" class="call-to-action secondary">View gallery</a>
                </div>
            </div>
        </div>
    </div>
        {% endif %}


        {% if post.tag == 'badlands' %}
        <div class="page-wide">
            <div class="gallery tile container-pull-bottom {{ post.tag }} clearfix">
                <div class="col-xs-12 col-sm-5 pull-right">
                    <a href="{{ post.permalink | prepend: site.baseurl }}">
                        <div class="container-image">
                            <img src="{{ '/content/images/' | prepend: site.baseurl | append: post.thumbnail | append: '-500x500.jpg' }}" alt="">
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-7 description">
                    <h2 class="sub-title">{{ post.title }}</h2>
                    <div>{{ post.summary }}</div>
                    <a href="{{ post.permalink | prepend: site.baseurl }}" title="View gallery" class="call-to-action secondary">View gallery</a>
                </div>
            </div>
        </div>
        {% endif %}


    {% if post.tag == 'prairies' %}
    <div class="container-grey">
        <div class="page-wide">
            <div class="gallery tile container-stretch stretch-right {{ post.tag }} clearfix">
                <a href="{{ post.permalink | prepend: site.baseurl }}">
                    <div class="container-image">
                        <img src="{{ '/content/images/' | prepend: site.baseurl | append: post.thumbnail | append: '-500x500.jpg' }}" alt="">
                    </div>
                </a>
                <div class="col-xs-12 description">
                    <h2 class="sub-title">{{ post.title }}</h2>
                    <div>{{ post.summary }}</div>
                    <a href="{{ post.permalink | prepend: site.baseurl }}" title="View gallery" class="call-to-action secondary">View gallery</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}


    {% if post.tag == 'northwest' %}
    <div class="page-wide">
        <div class="gallery tile container-pull-top {{ post.tag }} clearfix">
            <div class="col-xs-12 col-sm-5">
                <a href="{{ post.permalink | prepend: site.baseurl }}">
                    <div class="container-image">
                        <img src="{{ '/content/images/' | prepend: site.baseurl | append: post.thumbnail | append: '-500x500.jpg' }}" alt="">
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-7 description">
                <h2 class="sub-title">{{ post.title }}</h2>
                <div>{{ post.summary }}</div>
                <a href="{{ post.permalink | prepend: site.baseurl }}" title="View gallery" class="call-to-action secondary">View gallery</a>
            </div>
        </div>
    </div>
    {% endif %}

        {% endif %}
        {% endfor %}
    </div>



</section>













