---
layout: default
section: "home"
title: "Home"
---


    <section class="clearfix">
        <div class="col-xs-12 tip">
            <p class="tip">Vincent Piotrowski is a nature and landscape photographer from Alberta Canada.</p>
        </div>
        <div class="hero homepage col-xs-12 no-gutter-xs">
            <div class="container-image">
                <img src="{{ '/content/images/hero-homepage-lg.jpg' | prepend: site.baseurl }}" alt="">
            </div>
            <div class="headline">
                <h1>An exhibition of <strong>nature</strong> and <strong>light</strong>;</h1>
                <h3>now with 50% more sticks and rocks.</h3>
            </div>
        </div>
        <div class="col-xs-12 container-galleries">
            <h2 class="title">The galleries</h2>
            <ul >
                <li><a class="mountains" href="{{ '/photos/canadian-rockies-photo-gallery' | prepend: site.baseURL}}">Mountains</a></li>
                <li><a class="foothills" href="{{ '/photos/alberta-foothills-photo-gallery' | prepend: site.baseURL}}">Foothills</a></li>
                <li><a class="prairies" href="{{ '/photos/alberta-prairies-photo-gallery' | prepend: site.baseURL}}">Prairies</a></li>
                <li><a class="badlands" href="{{ '/photos/alberta-badlands-photo-gallery' | prepend: site.baseURL}}">Badlands</a></li>
                <li><a class="travel" href="{{ '/photos/pacific-northwest-and-united-states-photo-gallery' | prepend: site.baseURL}}">Travel</a></li>
            </ul>
        </div>
    </section>


    <section class="homepage clearfix">
        <div class="col-xs-12">
            <h2 class="title">Featured photographs</h2>
            <p>Views of nature's good side captured in Alberta and Western Canada.</p>
        </div>

        {% assign idx = 0 %}
        {% assign sortedPosts = site.posts | sort: 'featured' | reverse %}
        {% for post in sortedPosts %}
        {% if post.categories contains 'photo' %}
        <div class="col-xs-12 col-sm-4 tile">
            <a href="{{ post.permalink | prepend: site.baseurl }}">
                <div class="container-image">
                    <img src="{{'/content/images/' | prepend: site.baseurl | append: post.photo | append: '-240x240.jpg'}}" alt="">
                </div>
            </a>
            <div>
                {% assign words = post.title | split: '|' %}
                <h4 class="reverse">{{ words[0] }}</h4>
                <h3>{{ words[1] }}</h3>
                {{ post.alt | truncate: 105 }}
            </div>
            <a href="{{ post.permalink | prepend: site.baseurl }}" title="View photo" class="call-to-action secondary">View photo</a>
        </div>
        {% assign idx = idx | plus:1 %}
        {% endif %}
        {% if idx == 3 %}
        <div class="clearfix"> </div>
        {% break %}
        {% endif %}
        {% endfor %}
    </section>


    <section class="container-contrast homepage clearfix">
        <div class="col-xs-12">
            <h2 class="title">Helpful articles</h2>
            <p>I have lots of stories to share, tips to give, and nude photos (of my dog).</p>
        </div>
        {% assign idx = 0 %}
        {% assign sortedPosts = site.posts %}
        {% for post in sortedPosts %}
        {% if post.section contains 'blog' %}
        <div class="col-xs-12 col-sm-6 tile">
            <a href="{{ post.permalink | prepend: site.baseurl }}">
                <div class="container-image">
                    <img src="{{'/content/images/' | prepend: site.baseurl | append: post.thumbnail | append: '-500x500.jpg'}}" alt="">
                </div>
            </a>
            <div>
                <h4><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time></h4>
                <h3>{{ post.title | truncate: 35 }}</h3>
                {{ post.description | truncate: 105 }}
            </div>
            <a href="{{ post.permalink | prepend: site.baseurl }}" title="Read more" class="call-to-action secondary">Read More</a>
        </div>
        {% assign idx = idx | plus:1 %}
        {% endif %}
        {% if idx == 2 %}
        <div class="clearfix"> </div>
        {% break %}
        {% endif %}
        {% endfor %}
    </section>


    <section class="clearfix">
        <div class="col-xs-12">
            <hr />
        </div>
        <div class="col-xs-12 col-sm-6 container-pull-right">
            <div class="container-image">
                <img src="{{ '/content/images/nature-photography-camera.jpg' | prepend: site.baseURL }}" alt="" />
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div>
                <h2 class="title">nature-photography.ca</h2>
            </div>
            <p>You never know what you'll see around the next bend in the trail; a calm lake, sun breaking through the trees, or perhaps a mountain goat riding a jet ski. When the lighting is right these scenes come alive and I capture them creatively with my camera.</p>
            <p>For me being out in the wilderness is super fun-ness bigtime! Alongside the photos there are pretty words describing the adventures that coincide with a nature photographer's lifestyle. These tales are sexy, interesting, funny, angry, and a whole lot of other things.</p>
        </div>
        <div class="col-xs-12">
            <hr />
        </div>
    </section>


    <section class="clearfix">
        <div class="col-xs-12 col-sm-3">
            <h3>Proudly Canadian</h3>
            <p>I was born and raised in Alberta, Canada. I am heavily influenced by Canadian symbolism and feel patriotic whenever I see mounties, mooses, or maple syrup.</p>
            <p>I am very proud of where I live and my heritage. When I think of Canada I picture unspoiled wilderness, mountains, wildlife and natural beauty.</p>
        </div>
        <div class="col-xs-12 col-sm-3">
            <h3>Local Landscapes</h3>
            <p>The work comes from the Canadian Rockies, the Alberta Prairies, and the Pacific Northwest. I make a conscious effort to keep my subject matter narrowed to the local landscape but you never know, maybe one day I'll have a gallery full of pelvic thrusting polar bear pictures. Many of the pictures you'll see were practically taken in my backyard.</p>
        </div>
        <div class="col-xs-12 col-sm-3">
            <h3>Helpful Articles</h3>
            <p>You'll never see me say that a camera lens is so incredible that it walks your dog and doubles on sax!</p>
            <p>Instead I try to be open and honest about processing and techniques to promote landscape photography. I'm motivated by contributing to the community not by a marketing plan.</p>
        </div>
        <div class="col-xs-12 col-sm-3">
            <h3>Conservation</h3>
            <p>Being environmentally friendly is important to me and that's why this website was handcrafted with eco-friendly code and nature-inspired designs.</p>
            <p>I try to support companies that promote sustainability and help protect the outdoors. I also do my part by staying on trails, not littering, and being a good forest visitor.</p>
        </div>
    </section>






