
<div class="footer col-xs-12 no-gutter-xs">
    <div class="page-wide clearfix">
    <div class="col-xs-12">

            <a href="{{ '/' | prepend: site.baseurl }}" title="nature-photography.ca | nature and landscape photography" class="site-logo">
                <div class="container-image">
                    <img src="{{ '/content/images/logo-stamp.png' | prepend: site.baseurl }}" alt="" />
                </div>
            </a>

        <div class="container-social">
            <a href="//www.instagram.com/mostly_carbon/" class="insta"><span>Instagram</span></a>
            <a href="//www.facebook.com/vincentpiotrowski/" class="fb"><span>Facebook</span></a>
            <a href="//twitter.com/vpiotrowski" class="twitter"><span>Twitter</span></a>
        </div>

        <span class="container-copyright">&copy; Vince Piotrowski 2019.  All rights reserved.</span>



        <div class="clearfix"></div>


    </div>
    </div>
</div>

<script type="text/javascript">

    var toggleButton = document.getElementById("toggle-nav"), body = document.getElementsByTagName("body")[0];

    // Fire toggleClass function when toggleButton is clicked
    toggleButton.onclick = toggleClass;

    function toggleClass(event) {
        var el = event.target;
        if ( -1 !== el.className.indexOf( "active" ) ) {
            el.className = el.className.replace( " active", "" );
        } else {
            el.className += " active"
        }
    }

</script>