
<div class="footer clearfix">
    <div class="col-xs-12">
        <hr />
        <a href="//www.instagram.com/mostly_carbon/" class="insta"><span>Instagram</span></a>
        <a href="//www.facebook.com/vincentpiotrowski/" class="fb"><span>Facebook</span></a>
        <a href="//twitter.com/vpiotrowski" class="twitter"><span>Twitter</span></a>

        <div class="clearfix"></div>

        <span class="container-copyright" style="display: inline-block; margin-top: 21px;">&copy; Vince Piotrowski 2018.  All rights reserved.</span>
    </div>
    <div class="clearfix"></div>
</div>

<script type="text/javascript">

    var toggleButton = document.getElementById("toggle-nav"), body = document.getElementsByTagName("body")[0];

    // Fire toggleClass function when toggleButton is clicked
    toggleButton.onclick = toggleClass;

    function toggleClass(event) {
        var el = event.target;
        if ( -1 !== el.className.indexOf( "active" ) ) {
            el.className = el.className.replace( " active", "" );
        } else {
            el.className += " active"
        }
    }

</script>