<header class="site-header">

  <div class="col-xs-12">
    <div class="container-logo">
      <a href="{{ '/' | prepend: site.baseurl }}" title="nature-photography.ca | nature and landscape photography" class="site-logo">
        <div class="container-image">
          <img src="{{ '/content/images/logo-sm.png' | prepend: site.baseurl }}" alt="">
        </div>
      </a>
    </div>

    <a href="#" class="toggle-navigation" id="toggle-nav">Menu</a>

    <div class="container-menu">
      <ul class="secondary">
        <li><a href="{{ '/' | prepend: site.baseurl }}" class="home"><span>home</span></a></li>
        <li><a href="{{ '/contact' | prepend: site.baseurl }}" class="contact"><span>contact</span></a></li>
      </ul>
      <ul class="primary">
        <li><a href="{{ '/photos' | prepend: site.baseurl }}" class="photos"><span>Photos</span></a></li>
        <li><a href="{{ '/blog' | prepend: site.baseurl }}" class="blog"><span>Articles</span></a></li>
        <li><a href="{{ '/shop' | prepend: site.baseurl }}" class="shop"><span>Store</span></a></li>
        <li><a href="{{ '/about' | prepend: site.baseurl }}" class="about"><span>About</span></a></li>
      </ul>
    </div>
  </div>
  <div class="clearfix"></div>

</header>
