<header class="site-header clearfix">

  <div class="col-xs-12 clearfix">
    <div class="container-logo">
      <a href="{{ '/' | prepend: site.baseurl }}" title="nature-photography.ca | nature and landscape photography" class="site-logo">
        <div class="container-image">
          <img src="{{ '/content/images/logo-sm.png' | prepend: site.baseurl }}" alt="" />
        </div>
      </a>
    </div>

    <a href="#" class="toggle-navigation" id="toggle-nav">Menu</a>

    <div class="container-mobile-menu container-contrast">
      <div class="container-scroll">
        <div class="container-image">
          <img src="{{ '/content/images/logo-stamp.png' | prepend: site.baseurl }}" alt="" />
        </div>
        <ul>
          <li><a href="{{ '/photos' | prepend: site.baseurl }}" class="call-to-action secondary">Photos</a></li>
          <li><a href="{{ '/blog' | prepend: site.baseurl }}" class="call-to-action secondary">Articles</a></li>
          <li><a href="{{ '/shop' | prepend: site.baseurl }}" class="call-to-action secondary">Store</a></li>
          <li><a href="{{ '/about' | prepend: site.baseurl }}" class="call-to-action secondary">About</a></li>
        </ul>
        <div class="container-galleries">
          <h3><strong>Photo galleries:</strong></h3>
          <ul>
            <li><a class="mountains" href="{{ '/photos/canadian-rockies-photo-gallery' | prepend: site.baseURL}}">Mountains</a></li>
            <li><a class="foothills" href="{{ '/photos/alberta-foothills-photo-gallery' | prepend: site.baseURL}}">Foothills</a></li>
            <li><a class="prairies" href="{{ '/photos/alberta-prairies-photo-gallery' | prepend: site.baseURL}}">Prairies</a></li>
            <li><a class="badlands" href="{{ '/photos/alberta-badlands-photo-gallery' | prepend: site.baseURL}}">Badlands</a></li>
            <li><a class="travel" href="{{ '/photos/pacific-northwest-and-united-states-photo-gallery' | prepend: site.baseURL}}">Travel</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container-menu">
      <ul class="primary">
        <!--<li><a href="{{ '/' | prepend: site.baseurl }}" class="home"><span>Home</span></a></li>-->
        <li><a href="{{ '/photos' | prepend: site.baseurl }}" class="photos"><span>Photos</span></a></li>
        <li><a href="{{ '/blog' | prepend: site.baseurl }}" class="blog"><span>Articles</span></a></li>
        <li><a href="{{ '/shop' | prepend: site.baseurl }}" class="shop"><span>Store</span></a></li>
        <li><a href="{{ '/about' | prepend: site.baseurl }}" class="about"><span>About</span></a></li>
      </ul>
    </div>
  </div>

</header>
