
<div class="container-tertiary photos clearfix">
    <h3>Photos</h3>
    <ul>
        <li class="overview">
            <a class="" href="/photos" title="Landscape galleries">
                Overview
            </a>
        </li>
        <li class="mountains">
            <a href="/photos/canadian-rockies-photo-gallery" title="Canadian Rockies Photo Gallery">
                Mountains
            </a>
        </li>
        <li class="foothills">
            <a href="/photos/alberta-foothills-photo-gallery" title="Alberta Foothills Photo Gallery">
                Foothills
            </a>
        </li>
        <li class="prairies">
            <a href="/photos/alberta-prairies-photo-gallery" title="Alberta Prairies Photo Gallery">
                Prairies
            </a>
        </li>
        <li class="badlands">
            <a href="/photos/alberta-badlands-photo-gallery" title="Alberta Badlands Photo Gallery">
                Badlands
            </a>
        </li>
        <li class="northwest">
            <a href="/photos/pacific-northwest-and-united-states-photo-gallery" title="Pacific Northwest Photo Gallery">
                Travel
            </a>
        </li>
    </ul>
</div>

