<div class="col-xs-12">
    <div class="container-tertiary clearfix">
        <h3>About</h3>
        <ul>
            <li class="overview">
                <a class="" href="/about" title="About Vincent Piotrowski">
                    Vincent Piotrowski
                </a>
            </li>
            <li class="links">
                <a href="/about/my-reading-list" title="My Reading List">
                    My Reading List
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="clearfix"></div>
