<div class="col-xs-12">
    <div class="container-tertiary clearfix">
        <h3>Articles</h3>
        <ul>
            <li class="overview">
                <a class="" href="/blog" title="Nature and Landscape Photography Articles">
                    Overview
                </a>
            </li>
            <li class="techniques">
                <a href="/blog/nature-and-landscape-photography-tips-and-techniques" title="Tips and Techniques">
                    Tips & Techniques
                </a>
            </li>
            <li class="news">
                <a href="/blog/news-and-updates" title="News and Updates">
                    Thoughts & News
                </a>
            </li>
            <li class="inspiration">
                <a href="/blog/inspiring-photographers" title="Inspiration">
                    Inspiring People
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="clearfix"></div>
