h1, h2, h3  {
    color: $white;
    font-family: $title-font;
    font-weight: 400;
}

h1 {
    font-size: $extra-large;
}

h1 strong {
    font-size: $huge;
}

h2 {
    font-size: $extra-large;
}

h3 {
    font-size: $large;
}

h2 + p {
    margin-top: -14px;
}

h4 {
    margin: 0;
}

.headline {
    margin: 14px auto 70px;
    padding: 0;
    text-align: center;
    width: 100%;
}

.headline h1 {
    display: inline;
    font-size: $extra-extra-large;
    font-weight: 100;
    line-height: 1.2em;
    margin: 7px 0;
}

.headline h1:before {
    content: attr(data-prefix);
}

.headline h2 {
    margin: 7px 0 21px;
}

section .headline .title {
    padding: 0;
    text-transform: none;
}

section .headline .title + p {
    font-size: 1.4rem;
}

.homepage .headline {
    margin: 70px auto;
}

section.homepage + section polygon {
    display: none;
}

@include media-breakpoint-up(md) {

    .headline {
        margin: 14px auto 140px;
    }

    .headline h1 {
        font-size: 98px;
    }

    .headline h1:before {
        font-size: $extra-large;
    }

    .headline h1:before {
        position: absolute;
        transform: translate(0, -49%);
    }

    .homepage .headline {
        margin: 14px auto 105px;
    }

    section.homepage + section {
        padding-top: 49px;
    }

    section.homepage + section polygon {
        display: block;
    }
}

@include media-breakpoint-up(xl) {
    .headline h1 {
        font-size: 126px;
    }

    .headline h1:before {
        font-size: $extra-extra-large;
    }

    .homepage .headline {
        margin: 105px auto 175px;
    }

    section.homepage + section {
        padding-top: 70px;
    }
}


.title, .sub-title {
    letter-spacing: 0.07em;
    line-height: 1.2em;
    text-transform: uppercase;
}

.sub-title {
    line-height: 2em;
}

.title, .title + p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

section .title + p {
    color: $white;
    font-size: 21px;
    margin-bottom: 21px;
}

.title + p {
    margin-bottom: 49px;
}

section .title:before {
    background: $link-blue;
    content: " ";
    display: block;
    height: 0;
    margin: 35px auto;
    width: 140px;
}

section .title:after {
    background: $link-blue;
    content: " ";
    display: block;
    height: 5px;
    margin: 21px auto 35px;
    width: 140px;
}

section .title.left {
    text-align: left;
}

section .title.left:before, section .title.left:after {
    margin: 14px 0 7px;
}

.lead-paragraph {
    font-size: 21px;
    margin: 21px auto 70px;
    text-align: center;
    width: 91%;
}


.polygon {
    z-index: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;

    svg {
        width: 100%;
        height: 100%;

        polygon {
            fill: $blue;
        }
    }
}

.polygon + .polygon {
    svg {
        polygon {
            fill: $white;
        }
    }
}





@include media-breakpoint-down(md) {
    section .title + p {
        font-size: inherit;
    }
}

@include media-breakpoint-down(sm) {
    section .title {
        padding: 0 21px;
    }

    section .title + p {
        color: $text-grey;
        padding: 0 14px;
    }

    .photos section .title + p {
        color: $white;
    }
}