body.default {
    background-image: url('/content/images/cover.jpg');
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.decoration {
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: 2100%;
    bottom: -7px;
    filter: blur(14px);
    -webkit-filter: blur(14px);
    -moz-filter: blur(14px);
    -o-filter: blur(14px);
    -ms-filter: blur(14px);
    left: -7px;
    position: fixed;
    right: -7px;
    top: -7px;
    z-index: 0;
}

.decoration:after {
    background: $black;
    background: rgba(0,0,0,0.77);
    bottom: 0;
    content: ' ';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.default .decoration:after {
    display: none;
}


.container-galleries {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.container-galleries ul {
    display: table;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    table-layout: fixed;
    width: 49%;
}

.container-galleries li {
    display: table-cell;
    position: relative;
    text-align: center;
}

.container-galleries a {
    border-radius: 7px;
    color: $white;
    display: block;
    font-size: 0;
    padding: 7px 0;
    text-align: center;
    text-decoration: none;
}

.container-galleries a:hover {
    background: $orange;
}

.container-galleries a:before {
    border-radius: 50%;
    color: $white;
    display: block;
    font-family: $glyph-font;
    font-size: 63px;
    height: 77px;
    font-weight: 100;
    margin: 0 auto 7px;
    padding: 7px 0 0;
    width: 77px;
    text-align: center;
}

.container-galleries .mountains:before {
    content: $mountains;
}

.container-galleries .foothills:before {
    content: $foothills;
}

.container-galleries .prairies:before {
    content: $prairies;
}

.container-galleries .badlands:before {
    content: $badlands;
}

.container-galleries .travel:before {
    content: $travel;
}


#traits .sub-title:before {
    border-radius: 50%;
    color: $link-blue;
    display: block;
    font-family: $glyph-font;
    font-size: 63px;
    height: 77px;
    font-weight: 100;
    margin: 0 auto;
    padding: 7px 0 0;
    width: 77px;
    text-align: center;
}

#traits .sub-title.canadian:before {
    content: $canadian;
}

#traits .sub-title.local:before {
    content: $landscapes;
}

#traits .sub-title.articles:before {
    content: $articles;
}

#traits .sub-title.conservation:before {
    content: $conservation;
}

.call-to-action.secondary {
    background: $link-blue;
    color: $white;
    display: inline-block;
    font-family: $alt-font;
    font-weight: 700;
    margin: 21px auto;
    padding: 10px 21px;
    text-decoration: none;
}

.call-to-action.secondary:after {
    content: $arrow-right;
    display: none;
    font-family: $glyph-font;
    font-weight: 100;
    margin-left: 14px;
    vertical-align: bottom;
}

.call-to-action.secondary:hover {
    background: $orange!important;
    border-color: $orange;
    color: $white!important;
}

@include media-breakpoint-down(md) {

    .homepage .container-galleries ul {
        margin: -14px auto 0;
    }

    .homepage .container-galleries a:before {
        font-size: 49px;
        height: 56px;
        width: 56px;
    }

    #traits {
        text-align: center;
    }
}

@include media-breakpoint-down(sm) {
    body.default {
        background-image: url('/content/images/cover-sm.jpg');
    }

    .container-galleries ul {
        max-width: 320px;
        width: 84%;
    }

    .homepage .container-galleries ul {
        margin: 7px auto;
    }

    .homepage .container-galleries a:before {
        font-size: 42px;
        height: 49px;
        width: 49px;
    }
}

@include media-breakpoint-only(md) {
    #homepage-camera-back img {
        max-width: 560px;
    }
}