body.default {
    background-image: url('/content/images/cover.jpg');
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.decoration {
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: -7px;
    filter: blur(7px);
    -webkit-filter: blur(7px);
    -moz-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    left: -7px;
    position: fixed;
    right: -7px;
    top: -7px;
    z-index: 0;
}

.decoration:after {
    background: $black;
    background: rgba(0,0,0,0.63);
    bottom: 0;
    content: ' ';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.default .decoration:after {
    display: none;
}

.homepage .headline {
    margin: 49px auto 35px;
    padding: 21px 0 0;
    text-align: center;
    width: 100%;
}

.homepage .headline:before, .homepage .headline:after {
    background: $orange;
    content: ' ';
    height: 2px;
    position: absolute;
    top: 163px;
    width: 14vw;
}

.homepage .headline:before {
    left: 30px;
}

.homepage .headline:after {
    right: 30px;
}

.headline h1 {
    font-size: $extra-extra-large;
    font-weight: 100;
    margin: 7px 0;
    white-space: nowrap;
}

.headline h2 {
    display: inline;
    margin: 7px 0;
}

.container-galleries {
    width: 100%;
}

.container-galleries ul {
    display: table;
    list-style: none;
    margin: 35px auto 0;
    padding: 0;
    table-layout: fixed;
    width: 49%;
}

.container-galleries li {
    display: table-cell;
    position: relative;
    text-align: center;
}

.container-galleries a {
    border-radius: 7px;
    color: $white;
    display: block;
    font-size: 0;
    padding: 7px 0;
    text-align: center;
    text-decoration: none;
}

.container-galleries a:hover {
    background: $orange;
}

.container-galleries a:before {
    border-radius: 50%;
    color: $white;
    display: block;
    font-family: $glyph-font;
    font-size: 63px;
    height: 77px;
    font-weight: 100;
    margin: 0 auto 7px;
    padding: 7px 0 0;
    width: 77px;
    text-align: center;
}

.homepage .container-galleries a:before {
    /*background: $grey;
    color: $orange;*/
}

.container-galleries .mountains:before {
    content: $mountains;
}

.container-galleries .foothills:before {
    content: $foothills;
}

.container-galleries .prairies:before {
    content: $prairies;
}

.container-galleries .badlands:before {
    content: $badlands;
}

.container-galleries .travel:before {
    content: $travel;
}


.call-to-action.secondary {
    border: solid 1px;
    color: $orange;
    display: inline-block;
    font-family: $alt-font;
    font-weight: 700;
    margin: 21px auto;
    padding: 10px 14px;
    text-decoration: none;
}

.call-to-action.secondary:after {
    content: $arrow-right;
    display: none;
    font-family: $glyph-font;
    font-weight: 100;
    margin-left: 14px;
    vertical-align: bottom;
}

.call-to-action.secondary:hover {
    background: $orange!important;
    color: $white!important;
}


@media(max-width: 991px) {
    .homepage .headline {
        margin: 0 auto;
    }

    .homepage .headline:before, .homepage .headline:after {
        display: none;
    }

    .container-galleries {
        bottom: 14px;
    }

    .container-galleries ul {
        width: 91%;
    }
}

@media(max-width: 767px) {

    .homepage .headline {
        margin: 49px auto 0;
    }

    .headline h1 {
        font-size: $extra-large;
        white-space: normal;
    }

    .headline h2 {
        font-size: $large;
    }
}

@media(max-width: 479px) {
    body.default {
        background-image: url('/content/images/cover-sm.jpg');
    }

    .homepage .headline {
        padding: 0 0 35px;
        width: 91%;
    }

    .homepage .headline h1,
    .homepage .headline h2,
    .homepage .headline strong {
        display: inline;
        font-size: 35px;
    }

    .homepage .container-galleries ul {
        margin: 7px auto;
    }

    .homepage .container-galleries a:before {
        font-size: 42px;
        height: 49px;
        width: 49px;
    }

    .call-to-action.secondary {
        background: $grey;
        border: none;
    }
}
