body {
    background-image: url('/content/images/cover.jpg');
    background-position: center -7VW;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.headline {
    left: 50%;
    position: absolute;
    top: 42%;
    transform: translate(-50%, -50%);
}

.homepage .headline {
    text-align: center;
    width: 70%;
}

.headline h1 {
    font-weight: 100;
    margin: 7px 0;
    white-space: nowrap;
}

.headline h3 {
    display: inline;
    font-weight: 400;
    margin: 7px 0;
}

.container-galleries {
    background: $dark-grey;
}

.container-galleries ul {
    display: table;
    list-style: none;
    margin: 14px auto;
    padding: 0 70px;
    position: relative;
    table-layout: fixed;
    width: 77%;
}

.container-galleries li {
    display: table-cell;
    padding: 7px;
    position: relative;
    text-align: center;
}

.container-galleries a {
    border-radius: 7px;
    color: $white;
    display: block;
    padding: 7px 0;
    text-align: center;
    text-decoration: none;
}

.container-galleries a:hover {
    background: $orange;
}

.container-galleries a:before {
    border-radius: 50%;
    display: block;
    font-family: $glyph-font;
    font-size: 70px;
    height: 91px;
    font-weight: 100;
    margin: 0 auto;
    padding: 7px 0;
    width: 91px;
}

.container-galleries .mountains:before {
    content: $mountains;
}

.container-galleries .foothills:before {
    content: $foothills;
}

.container-galleries .prairies:before {
    content: $prairies;
}

.container-galleries .badlands:before {
    content: $badlands;
}

.container-galleries .travel:before {
    content: $travel;
}


.call-to-action.secondary {
    background: $dark-grey;
    color: $orange;
    color: $text-grey;
    display: inline-block;
    font-family: $alt-font;
    font-weight: 700;
    margin: 21px auto;
    padding: 10px 14px;
    text-decoration: none;
}

.call-to-action.secondary:after {
    content: $arrow-right;
    display: none;
    font-family: $glyph-font;
    font-weight: 100;
    margin-left: 14px;
    vertical-align: bottom;
}

.call-to-action.secondary:hover {
    background: $orange!important;
    color: $white!important;
}

.container-contrast .call-to-action.secondary, .article .call-to-action.secondary {
    background: none;
    border: solid 3px $text-grey;
}

.container-contrast .call-to-action.secondary:hover, .article .call-to-action.secondary:hover {
    border: solid 3px $orange;
}

.tip {
    border-radius: $border-radius $border-radius 0 0;
    color: $white;
}


.title, .title + p {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    text-align: center;
}

section .title:before {
    background: $blue;
    content: " ";
    display: block;
    height: 7px;
    margin: 7px auto;
    width: 140px;
}

section .title:after {
    background: $blue;
    content: " ";
    display: block;
    height: 7px;
    margin: 14px auto 0;
    width: 140px;
}

section .title + p {
    margin-bottom: 21px;
}

.title + p {
    margin-bottom: 49px;
}


p.tip:before {
    content: $tip;
    font-family: $glyph-font;
    margin-right: 7px;
}

@media(max-width: 991px) {
    .container-galleries ul {
        width: 100%;
    }
}

@media(max-width: 767px) {
    body {
        background-image: none;
    }

    .hero .container-image {
        overflow: hidden;
    }

    .hero img {
        margin-left: 50%;
        max-height: 500px;
        max-width: 1200px;
        transform: translateX(-50%);
    }

    .headline h1 {
        white-space: normal;
    }

    .container-galleries {
        background: $dark-grey;
    }

    .container-galleries ul {
        display: block;
        margin: 0 auto;
        padding: 0;
        position: static;
        table-layout: auto;
    }

    .container-galleries li {
        display: inline-block;
        float: left;
        position: relative;
        width: 33%;
    }

    .container-galleries a {
        padding: 0 0 14px;
    }

    .container-galleries a:after {
        padding-left: 0;
    }

}