
.article + .article {
    margin-top: 49px;
}

.article h3 {
    color: $text-grey;
}

.article .container-image {
    margin-bottom: 14px;
    margin-top: 14px;
}

.article .link-permalink {
    position: absolute;
    right: 35px;
    z-index: 1;
}

@media(max-width: 767px) {
    .article .link-permalink {
        display: none;
    }
}
