.container-breadcrumb {
    background: #333;
    border-radius: 7px;
    clear: both;
    margin: 0 auto 21px;
    overflow: auto;
}

.breadcrumb {
    background: $blue;
    overflow: auto;
}

.breadcrumb ul {
    clear: both;
    display: block;
    float: left;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.breadcrumb li {
    background: #333;
    float: left;
    list-style: none;
}

.breadcrumb a {
    color: $text-grey;
    display: block;
    float: left;
    padding: 11px 0 11px 35px;
    position: relative;
    text-decoration: none;
}

.breadcrumb li:first-child a {
    padding: 11px 0 11px 21px;
}

.breadcrumb li a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 20px solid $black;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}

.breadcrumb li a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 18px solid #333;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}

.breadcrumb li.active {
    background: $blue;
    color: $white;
    padding: 11px 35px;
}

@media(max-width: 960px) {
    .container-breadcrumb {
        border-radius: 0;
        margin-left: -14px;
        margin-right: -14px;
    }

    .breadcrumb ul {
        border-radius: 0;
    }

    .breadcrumb li {
        font-size: .77em;
    }
}

@media(max-width: 767px) {
    .breadcrumb{
        background:#333
    }

    .breadcrumb li.active {
        display:none
    }

    .breadcrumb > li:first-child {
        display:none
    }
}