.container-breadcrumb {
    background: $dark-grey;
    clear: both;
    margin: 3px auto 14px;
    overflow: auto;
}

.breadcrumb {
    background: $blue;
    overflow: auto;
}

.breadcrumb ul {
    clear: both;
    display: block;
    float: left;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.breadcrumb li {
    background: $dark-grey;
    float: left;
    list-style: none;
}

.breadcrumb a {
    color: $text-grey;
    display: block;
    float: left;
    font-size: 13px;
    padding: 11px 0 11px 35px;
    position: relative;
    text-decoration: none;
}

.breadcrumb a:hover {
    color: $orange;
}

.breadcrumb li:first-child a {
    padding: 11px 0 11px 21px;
}

.breadcrumb li a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 20px solid $black;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}

.breadcrumb li a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 18px solid #333;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}

.breadcrumb li.active {
    background: $blue;
    color: $white;
    font-size: 13px;
    font-weight: 700;
    padding: 11px 35px;
}

.container-tertiary + div .container-breadcrumb {
    margin-top: 0;
}



@media(max-width: 767px) {
    .breadcrumb{
        background:#333
    }

    .breadcrumb li.active {
        display:none
    }

    .breadcrumb > li:first-child {
        display:none
    }
}