.container-breadcrumb {
    clear: both;
    margin: 0 auto 14px;
    overflow: auto;
}

.breadcrumb {
    overflow: auto;
}

.breadcrumb ul {
    clear: both;
    display: block;
    float: left;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.breadcrumb li {
    float: left;
    list-style: none;
}

.breadcrumb a {
    display: block;
    float: left;
    padding: 14px 0 14px 28px;
    position: relative;
}

.breadcrumb a:hover {
    color: $orange;
}

.breadcrumb li:first-child a {
    padding: 14px 0;
}

.breadcrumb a:after {
    color: $grey;
    content: $chev-thin;
    font-family: $glyph-font;
    font-size: 21px;
    font-weight: 100;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.breadcrumb li.active {
    background: none;
    color: $white;
    font-weight: 700;
    padding: 13px 28px 0;
}

.container-tertiary + div .container-breadcrumb {
    margin-top: 0;
}

@media(max-width: 767px) {

    .container-breadcrumb {
        border-radius: 0;
        display: block;
        margin-left: 15px;
    }

    .breadcrumb li.active {
        display:none
    }
}