
.toggle-navigation {
    color: $white;
    display: none;
    font-size: $border-radius;
    height: 49px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 49px;
    z-index: 77;
}

.toggle-navigation:before {
    content: $menu;
    display: block;
    font-family: $glyph-font;
    font-weight: 100;
    font-size: 28px;
}

.container-menu {
    float: right;
    padding: 10px 15px 7px 0;
    text-align: right;
}

.container-menu ul {
    margin: 0;
    padding: 0;
}

.container-menu li {
    display: inline-block;
}

.container-menu .primary a {
    color: $white;
    display: inline-block;
    font-size: $extra-large;
    padding: 1px 14px;
    text-decoration: none;
}

.container-menu .primary a:hover {
    color: $orange;
}

.container-mobile-menu {
    background: $grey;
    bottom: 0;
    right: 0;
    margin: 0;
    overflow: hidden;
    position: fixed;
    left: 100%;
    top: 0;
    transition: all .3s;
    z-index: 70;
}

.container-mobile-menu img {
    width: 70px;
}

.container-mobile-menu ul, .container-mobile-menu li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container-mobile-menu .call-to-action.secondary {
    border: solid 2px;
    color: $white;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.container-mobile-menu .container-galleries ul {
    display: block;
    margin: 0 auto;
    padding: 0;
    position: static;
    table-layout: auto;
}

.container-mobile-menu .container-galleries li {
    display: inline-block;
    float: left;
    position: relative;
    width: 33%;
    width: calc( 100% / 3);
}

.container-mobile-menu .container-galleries a {
    padding: 0 0 14px;
}

.container-mobile-menu .container-galleries a:after {
    padding-left: 0;
}

body.home .primary .home,
body.photos .primary .photos,
body.blog .primary .blog,
body.shop .primary .shop,
body.about .primary .about {
    border-radius: $border-radius;
    box-shadow: inset 0 0 0 3px $blue;
    /*pointer-events: none;*/
}

@media(max-width: 960px) {

    .container-menu {
        font-size: 14px;
    }

    .container-menu .primary a {
        font-size: 21px;
    }
}

@media(max-width: 767px) {

    .toggle-navigation {
        display: block;
        position: absolute;
        top: 7px;
        right: 7px;
        transition: all .3s ease-in-out;
    }

    .toggle-navigation.active:before {
        content: $arrow-right;
    }

    .toggle-navigation.active + .container-mobile-menu {
        left: 35px;
        padding: 21px 35px;
    }

    .container-menu {
        display: none;
    }
}