.photograph .site-header {
    margin-bottom: 7px;
}

.location:after {
    content: "|"
}

.tiles {
    padding: 14px 14px 35px;
}

.tile {
    line-height: 1.5;
    margin-bottom: 14px;
    margin-top: 14px;
}

.tile h3, .tile h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tile h3, .tile h4, .tile p {
    margin: 10px 0;
}

.tile.container-stretch > div {
    background: $dark-grey;
    padding: 7px 14px;
}

.photos .tile {
    margin-bottom: 7px;
    padding-left: 7px!important;
    padding-right: 7px!important;
    margin-top: 7px;
}

.home .tile {
    text-align: center;
}

.tile.gallery {
    clear: both;
    padding: 0 21px;
    margin-bottom: 105px;
}

.tile.gallery .description {
    padding: 14px 70px;
}

.container-image.photo img {
    max-height: 98vh;
}

.link-prev, .link-next {
    display: block;
    font-size: 0;
    left: 0;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 50%;
    top: calc(50% - 42px);
    width: 63px;
    z-index: 22;
}

.link-next {
    left: auto;
    right: 0;
}

.link-prev:before, .link-next:after {
    background: $black;
    background: $black-alpha;
    border-radius: 7px;
    color: $white;
    content: $angle-left;
    display: block;
    font-family: $glyph-font;
    left: 14px;
    padding: 7px 0;
    position: absolute;
    font-size: 70px;
    font-weight: 100;
    text-align: center;
    text-decoration: none;
    top: 0;
    width: 56px;
    z-index: 21;
}

.link-next:after {
    content: $angle-right;
    left: auto;
    right: 14px;
}

.link-next:hover:after, .link-prev:hover:before {
    color: $orange;
}

.container-image.photo {
    background: $dark-grey;
    background: $grey-alpha;
}


body.photos {
    &.mountains, &.foothills, &.prairies,
    &.badlands, &.northwest {
        .headline:before {
            border-radius: 50%;
            color: $white;
            display: block;
            font-family: $glyph-font;
            font-size: 70px;
            height: 77px;
            font-weight: 100;
            margin: 0 auto 14px;
            padding: 11px 0 0;
            width: 77px;
            text-align: center;
        }
    }
}

    body.photos.mountains .headline:before {
        content: $mountains;
    }

    body.photos.foothills .headline:before {
        content: $foothills;
    }

    body.photos.prairies .headline:before {
        content: $prairies;
    }

    body.photos.badlands .headline:before {
        content: $badlands;
    }

    body.photos.northwest .headline:before {
        content: $travel;
    }


    @media(max-width: 767px) {
        .photograph .site-header {
            margin-bottom: 0;
        }

        .tiles {
            padding: 7px;
        }

        .tile {
            margin-bottom: 35px;
            margin-top: 7px;
        }

        .homepage .tile {
            float: none;
            margin: 0 auto 21px;
            max-width: 84%;
        }

        .container-image.photo img {
            max-height: 420px;
        }

        .tile.gallery {
            margin-bottom: 70px;
        }

        .tile.gallery .description {
            padding: 21px 21px 35px;
            text-align: center;
        }

        .link-prev, .link-next {
            top: 50%;
            top: calc(50% - 24px);
        }

        .link-prev:before, .link-next:after {
            border-radius: 0 7px 7px 0;
            left: 0px;
            font-size: 35px;
            width: 35px;
        }

        .link-next:after {
            border-radius: 7px 0 0 7px;
            left: auto;
            right: 0px;
        }

        .location {
            display: none;
        }
    }


@include media-breakpoint-only(md) {
    .tile {
        padding-left: 7px!important;
        padding-right: 7px!important;
    }
}

@include media-breakpoint-up(lg) {
    .tile.featured > div {
        background: $white;
        padding: 7px;

        h3, h4 {
            color: $grey;
        }
    }

    .tile.container-stretch {
        position: relative;
    }

    .tile.container-stretch > div {
        background: rgba(42,42,42,0.91);
        background: $dark-grey;
        left: 0;
        padding: 35px;
        position: absolute;
        transform: translate(84px, -91%);
        width: 42%;
    }

    .tile.container-stretch.stretch-right > div {
        left: auto;
        right: 0;
        transform: translate(-84px, -91%);
    }

}
