<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body class="default {{page.section}}">

  <div class="page-wide clearfix">

      {% include header.html %}

      <section class="article page-main clearfix">
          {% include tertiary-articles.html %}

          <div class="col-xs-12">
              {% include breadcrumb.html %}
          </div>

          <div class="">
              {{ page.content }}
          </div>
      </section>

      {% include footer.html %}
  </div>


  </body>

</html>
